<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<h1>登录首页</h1>
<form action="/dologin" method="post">
    <table>
        <tr>
            <td>
                用户名:
            </td>
            <td>
                <input type="text" id="userName" name="name" placeholder="admin">
            </td>
        </tr>
        <tr>
            <td>
                密码:
            </td>
            <td>
                <input type="password" id="userPassWord" name="passWord" placeholder="请输入密码">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" id="tijiao">登录</button>
            </td>
            <td>
                <button type="reset" id="chongzhi">重置</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>